<p>Add New Trader</p>
<div>
    <mat-dialog-content>
        <form (ngSubmit)="addTrader()">
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput [(ngModel)]="firstName" name="firstName">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput [(ngModel)]="lastName" name="lastName">
            </mat-form-field>
                
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="email" name="email">
            </mat-form-field>
                
            <mat-form-field>
                <mat-label>Country</mat-label>
                <input matInput [(ngModel)]="country" name="country">
            </mat-form-field>
                
            <mat-form-field >
                <mat-label>Date of birth</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="dateOfBirth" name="dateOfBirth" placeholder="Choose a date">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker>
                    <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>
            <button (click)="onCancel()">Cancel</button>
            <button type="submit">Submit</button>
        </form>


    </mat-dialog-content>
</div>