<div><p>to-do-page works!</p></div>


<form (ngSubmit)="addToDo()">
    <input type="text" [(ngModel)]="newToDo" name="newToDo">
    <button type="submit">Add Todo</button>
    <button (click)="removeToDo()">delete</button>
    
</form>
<form (ngSubmit)="editToDo()">
    <input type="text" [(ngModel)]="newElement" name="newElement" placeholder="text">
    <input type="number" [(ngModel)]="index" name="index" placeholder="index">
    <button type="submit">Update</button>

</form>

<ul>
    <li *ngFor="let todo of todos">{{todo}}</li>    
</ul>

